

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url("background.jpg") no-repeat center;
  background-size: cover;

}


nav{
  margin: auto;
  padding: 20px 0;
  background-color: #B7DCD4;

}

nav ul li{
  display: inline;
  list-style: none;
  margin: 20px;

}

nav ul{
  list-style: none;
}

nav a{
  text-shadow: 2px 2px 8px Aliceblue;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover{
  color: black;
}

.container{
  width:50%;
  margin:auto;
}
p{
  font-family: Merriweather;
  font-size: 25px;
}

h1{
  font-family: Merriweather;
  padding-top: 100px;
}
img{
  margin-top: 50px;
  border-radius: 10px;
}
